{% extends "books/base.html" %}
{% load i18n %}

{% block title %}
    {% trans "Delete book" %}
{% endblock %}

{% block content %}

<h1>
    {% trans "Delete book" %}
</h1>

<p>
    {% blocktrans with title=object.title %}
        Are you sure you want to delete "{{ title }}"?
    {% endblocktrans %}
</p>

<form method="post">

    {% csrf_token %}

    <button
        type="submit"
        class="btn btn-danger"
    >
        {% trans "Delete" %}
    </button>

    <a
        href="{% url 'books:detail' object.pk %}"
        class="btn btn-secondary"
    >
        {% trans "Cancel" %}
    </a>

</form>

{% endblock %}